<template>
    <div>
        <h1>
            {{ name }}
        </h1>
    </div>
</template>

<script>
export default {
   name: 'MyName',
   props: {
       name: String
   }
}
</script>

<style scoped>

</style>